[Unit]
Description=Owen Cloud Web Interface
After=network.target owen_synchronizer.service

[Service]
User=root
WorkingDirectory=/root/lino
# Запускаем Flask на всех интерфейсах (host=0.0.0.0), порт 5000
ExecStart=/root/lino/venv/bin/python /root/lino/web_app.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
